{{define "subject"}} Finish Registration with GopherSocial {{end}}

{{define "body"}}
<!doctype html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <p>Hi {{.Username}},</p>
        <p> Thanks for signing up for GopherSocial! We're excited to have you onboard!</p>
        <p>Before you can start using GopherSocial, you need to confirm your email address. Click on the link below to confirm you email address: </p>
        <p><a href="{{.ActivationURL}}">{{.ActivationURL}}</a></p>
        <p>If you want to activate your account manually, you can copy and paste the link into your browser.</p>
        <p>If you did not sign up for GopherSocial, please ignore this email.</p>
        
        <p>Thanks,</p>
        <p>The GopherSocial Team</p>
    </body
</html>

{{end}}